{% extends 'newbase.html' %}

{% block content %}
<div class="jumbotron">
  <h1>About BuyFerraries</h1>
  <p>American cars have had a long and rich tradition both in the United States and throughout the world. Famous for their muscle vehicles, but also for the classic ones, the American made cars list boasts on 3 companies and at least 9 important companies that have made history over the years. There were roughly 1800 American car brands between 1896 to 1930 but just few were able to survive the tough competitive market. Hence just a handful of auto manufacturers opened after that period in America, that are still well known today.</p>
  

</div>

{% endblock %}
