{% extends 'newbase.html' %}

{% block content %}
<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>The name stands for the Italian automobile manufacturer, designer and racing car driver whose Ferrari cars often dominated world racing competition in the second half of the century. In 1920 he became a racing car driver for Alfa Romeo Company and in 1929 he formed a racing stable, Scuderia Ferrari, which remained Alfa Romeo's official racing team even after Ferrari himself ceased to drive in races in 1932. The first racing car completely designed by Ferrari himself was built in 1937, for Alfa Romeo. Later in 1939 Ferrari severed his team connection with Alfa Romeo and formed his own company as Ferrari SpA. (Britannica, 745)</p>

</div>

{% endblock %}
